body {
  margin-top: 80px;
  font-family: "Rubik", sans-serif;
}

nav {
  margin-left: 50px;
  /* margin-top: 70px; */
}

#pro-pic {
  width: 170px;
  height: 150px;
  margin-bottom: 0px;
  display: block;
}

#acc-form {
  border-top: solid 1px rgb(235, 235, 235);
  padding: 20px 0px;
  margin-top: 25px;
  display: block;
}

input[type="email"],
input[type="text"] {
  width: 612px;
}

.heading-nav {
  margin-left: 0px;
  width: 100%;
}

.container {
  margin-left: 6%;
}

.btn {
  border: 2px solid #03191e;
  background-color: #03191e;
  color: white;
  transition: 0.5s;
}

.btn:hover {
  background-color: #007bff;
  color: white;
}

.sub-heading {
  margin-top: 70px;
}

nav > button {
  margin-bottom: 20px;
}

img {
  margin-bottom: 80px;
}

h2 {
  margin-bottom: 65px;
}
