body {
  height: 100vh;
  background: #dbe8fd !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  color: rgb(172, 172, 172);
  font-weight: lighter;
}

label[for="password"],
label[for="user_name"] {
  font-weight: bold;
}

.card {
  overflow: hidden;
  border: 0 !important;
  border-radius: 10px !important;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

img {
  width: 470px;
  height: 600px;
}

.img-right {
  width: 45%;
  background: url("img.jpg") center;
  background-size: cover;
}

#signupimg {
  width: 10px;
  height: 5px;
}

.card-body {
  padding: 3rem;
}

.title {
  margin-bottom: 0.8rem;
}

.form-input {
  position: relative;
}

.form-input input {
  width: 100%;
  height: 45px;
  padding-left: 40px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid #00000020;
  border-radius: 10px;
  outline: none;
  background: transparent;
}

.form-input span {
  position: absolute;
  top: 10px;
  padding-left: 15px;
  color: #007bff;
}

.form-input input::placeholder {
  color: rgb(172, 172, 172);
  /* padding-left: 1px; */
}

.form-input input:focus,
.form-input input:valid {
  border: 2px solid #03191e;
}

.form-input input:focus::placeholder {
  color: #454b69;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #007bff !important;
  border: 0px;
}

.form-box button[type="submit"] {
  margin-top: 10px;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 10px;
  background: #03191e;
  color: #fff;
  font-size: 90%;
  font-weight: bold;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  padding: 12px;
}

.form-box button[type="submit"]:hover {
  background: #0069d9;
}

.forget-link,
.register-link {
  color: #03191e;
  font-weight: bold;
  text-decoration: none;
}

.forget-link:hover,
.register-link:hover {
  color: #0069d9;
  transition: 0.5s;
}
